<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapping.InstockDetailMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.InstockDetail" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="instockId" property="instockid" jdbcType="VARCHAR" />
    <result column="productNo" property="productno" jdbcType="VARCHAR" />
    <result column="productName" property="productname" jdbcType="VARCHAR" />
    <result column="productStandard" property="productstandard" jdbcType="VARCHAR" />
    <result column="productNum" property="productnum" jdbcType="DECIMAL" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="totalPrice" property="totalprice" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, instockId, productNo, productName, productStandard, productNum, unit, price, 
    totalPrice, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from instockdetail
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByInstockId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from instockdetail
    where instockId = #{instockId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from instockdetail
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByInstockId" parameterType="java.lang.Integer" >
    delete from instockdetail
    where instockId = #{instockId,jdbcType=INTEGER}
  </delete>
  
  
  
  <insert id="insert" parameterType="com.pojo.InstockDetail" >
    insert into instockdetail (ID, instockId, productNo, 
      productName, productStandard, productNum, 
      unit, price, totalPrice, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{instockid,jdbcType=VARCHAR}, #{productno,jdbcType=VARCHAR}, 
      #{productname,jdbcType=VARCHAR}, #{productstandard,jdbcType=VARCHAR}, #{productnum,jdbcType=DECIMAL}, 
      #{unit,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{totalprice,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.InstockDetail" >
    insert into instockdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="instockid != null" >
        instockId,
      </if>
      <if test="productno != null" >
        productNo,
      </if>
      <if test="productname != null" >
        productName,
      </if>
      <if test="productstandard != null" >
        productStandard,
      </if>
      <if test="productnum != null" >
        productNum,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="totalprice != null" >
        totalPrice,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="instockid != null" >
        #{instockid,jdbcType=VARCHAR},
      </if>
      <if test="productno != null" >
        #{productno,jdbcType=VARCHAR},
      </if>
      <if test="productname != null" >
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="productstandard != null" >
        #{productstandard,jdbcType=VARCHAR},
      </if>
      <if test="productnum != null" >
        #{productnum,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalprice != null" >
        #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.InstockDetail" >
    update instockdetail
    <set >
      <if test="instockid != null" >
        instockId = #{instockid,jdbcType=VARCHAR},
      </if>
      <if test="productno != null" >
        productNo = #{productno,jdbcType=VARCHAR},
      </if>
      <if test="productname != null" >
        productName = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="productstandard != null" >
        productStandard = #{productstandard,jdbcType=VARCHAR},
      </if>
      <if test="productnum != null" >
        productNum = #{productnum,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalprice != null" >
        totalPrice = #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.InstockDetail" >
    update instockdetail
    set instockId = #{instockid,jdbcType=VARCHAR},
      productNo = #{productno,jdbcType=VARCHAR},
      productName = #{productname,jdbcType=VARCHAR},
      productStandard = #{productstandard,jdbcType=VARCHAR},
      productNum = #{productnum,jdbcType=DECIMAL},
      unit = #{unit,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      totalPrice = #{totalprice,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>