<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapping.RemindMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Remind" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="immuneid" property="immuneid" jdbcType="INTEGER" />
    <result column="sheep" property="sheep" jdbcType="VARCHAR" />
    <result column="lastdate" property="lastdate" jdbcType="VARCHAR" />
    <result column="remind" property="remind" jdbcType="VARCHAR" />
    <result column="remindtype" property="remindtype" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, immuneid, sheep, lastdate, remind, remindtype, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from remind
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from remind
  </select>
   <select id="selectRemindCountByWhere" resultType="java.lang.Long" parameterType="com.pojo.Remind" >
    select 
    count(1)
    from remind where 1=1 
    <if test="immuneid != null and immuneid != ''" >
		 and immuneid like  CONCAT('%',#{immuneid},'%' )  
      </if>
      <if test="sheep != null and sheep != ''" >
         and sheep like CONCAT('%',#{sheep},'%' )  
      </if>
      <if test="lastdate != null and lastdate != ''" >
         and lastdate like CONCAT('%',#{lastdate},'%' )  
       </if>
  </select>
  
  <select id="selectRemindByWhere" resultMap="BaseResultMap" parameterType="com.pojo.Remind" >
    select 
    <include refid="Base_Column_List" />
    from remind where 1=1 
   	  <if test="immuneid != null and immuneid != ''" >
		 and immuneid like  CONCAT('%',#{immuneid},'%' )  
      </if>
      <if test="sheep != null and sheep != ''" >
         and sheep like CONCAT('%',#{sheep},'%' )  
      </if>
      <if test="lastdate != null and lastdate != ''" >
         and lastdate like CONCAT('%',#{lastdate},'%' )  
       </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from remind
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Remind" >
    insert into remind ( immuneid, sheep, 
      lastdate, remind, remindtype ,remark
      )
    values ( #{immuneid,jdbcType=VARCHAR}, #{sheep,jdbcType=VARCHAR}, 
      #{lastdate,jdbcType=VARCHAR}, #{remind,jdbcType=VARCHAR}, #{remindtype,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Remind" >
    insert into remind
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="immuneid != null" >
        immuneid,
      </if>
      <if test="sheep != null" >
        sheep,
      </if>
      <if test="lastdate != null" >
        lastdate,
      </if>
      <if test="remind != null" >
        remind,
      </if>
        <if test="remindtype != null" >
        remindtype,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="immuneid != null" >
        #{immuneid,jdbcType=VARCHAR},
      </if>
      <if test="sheep != null" >
        #{sheep,jdbcType=VARCHAR},
      </if>
      <if test="lastdate != null" >
        #{lastdate,jdbcType=VARCHAR},
      </if>
      <if test="remind != null" >
        #{remind,jdbcType=VARCHAR},
      </if>
      <if test="remindtype != null" >
        #{remindtype,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Remind" >
    update remind
    <set >
      <if test="immuneid != null" >
        immuneid = #{immuneid,jdbcType=VARCHAR},
      </if>
      <if test="sheep != null" >
        sheep = #{sheep,jdbcType=VARCHAR},
      </if>
      <if test="lastdate != null" >
        lastdate = #{lastdate,jdbcType=VARCHAR},
      </if>
      <if test="remind != null" >
        remind = #{remind,jdbcType=VARCHAR},
      </if>
      <if test="remindtype != null" >
        remindtype = #{remindtype,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Remind" >
    update remind
    set immuneid = #{immuneid,jdbcType=VARCHAR},
      sheep = #{sheep,jdbcType=VARCHAR},
      lastdate = #{lastdate,jdbcType=VARCHAR},
      remind = #{remind,jdbcType=VARCHAR},
      remindtype = #{remindtype,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>