<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapping.StockMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Stock" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="stockNo" property="stockno" jdbcType="VARCHAR" />
    <result column="stockName" property="stockname" jdbcType="VARCHAR" />
    <result column="provinceCode" property="provincecode" jdbcType="VARCHAR" />
    <result column="stockAddress" property="stockaddress" jdbcType="VARCHAR" />
    <result column="stockTel" property="stocktel" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, stockNo, stockName, provinceCode, stockAddress, stockTel, userId, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stock
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from stock
  </select>
  
  
  <select id="selectCountByWhere" resultType="java.lang.Long" parameterType="com.pojo.Stock" >
    select 
    count(1)
    from stock where 1=1 
    <if test="stockno != null and stockno != ''" >
		 and stockNo like  CONCAT('%',#{stockno},'%' )  
      </if>
      <if test="stockname != null and stockname != ''" >
         and stockName like CONCAT('%',#{stockname},'%' )  
      </if>
      <if test="userid != null and userid != ''" >
         and userId like CONCAT('%',#{userid},'%' )  
       </if>
  </select>
  
  <select id="selectByWhere" resultMap="BaseResultMap" parameterType="com.pojo.Stock" >
    select 
    <include refid="Base_Column_List" />
    from stock where 1=1 
    <if test="stockno != null and stockno != ''" >
		 and stockNo like  CONCAT('%',#{stockno},'%' )  
      </if>
      <if test="stockname != null and stockname != ''" >
         and stockName like CONCAT('%',#{stockname},'%' )  
      </if>
      <if test="userid != null and userid != ''" >
         and userId like CONCAT('%',#{userid},'%' )  
       </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stock
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Stock" >
    insert into stock (ID, stockNo, stockName, 
      provinceCode, stockAddress, stockTel, 
      userId, remark)
    values (#{id,jdbcType=INTEGER}, #{stockno,jdbcType=VARCHAR}, #{stockname,jdbcType=VARCHAR}, 
      #{provincecode,jdbcType=VARCHAR}, #{stockaddress,jdbcType=VARCHAR}, #{stocktel,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Stock" >
    insert into stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="stockno != null" >
        stockNo,
      </if>
      <if test="stockname != null" >
        stockName,
      </if>
      <if test="provincecode != null" >
        provinceCode,
      </if>
      <if test="stockaddress != null" >
        stockAddress,
      </if>
      <if test="stocktel != null" >
        stockTel,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stockno != null" >
        #{stockno,jdbcType=VARCHAR},
      </if>
      <if test="stockname != null" >
        #{stockname,jdbcType=VARCHAR},
      </if>
      <if test="provincecode != null" >
        #{provincecode,jdbcType=VARCHAR},
      </if>
      <if test="stockaddress != null" >
        #{stockaddress,jdbcType=VARCHAR},
      </if>
      <if test="stocktel != null" >
        #{stocktel,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Stock" >
    update stock
    <set >
      <if test="stockno != null" >
        stockNo = #{stockno,jdbcType=VARCHAR},
      </if>
      <if test="stockname != null" >
        stockName = #{stockname,jdbcType=VARCHAR},
      </if>
      <if test="provincecode != null" >
        provinceCode = #{provincecode,jdbcType=VARCHAR},
      </if>
      <if test="stockaddress != null" >
        stockAddress = #{stockaddress,jdbcType=VARCHAR},
      </if>
      <if test="stocktel != null" >
        stockTel = #{stocktel,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Stock" >
    update stock
    set stockNo = #{stockno,jdbcType=VARCHAR},
      stockName = #{stockname,jdbcType=VARCHAR},
      provinceCode = #{provincecode,jdbcType=VARCHAR},
      stockAddress = #{stockaddress,jdbcType=VARCHAR},
      stockTel = #{stocktel,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>