<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapping.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Supplier" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="supplierNo" property="supplierno" jdbcType="VARCHAR" />
    <result column="supplierName" property="suppliername" jdbcType="VARCHAR" />
    <result column="provinceCode" property="provincecode" jdbcType="VARCHAR" />
    <result column="supplierAddress" property="supplieraddress" jdbcType="VARCHAR" />
    <result column="supplierEmail" property="supplieremail" jdbcType="VARCHAR" />
    <result column="supplierTel" property="suppliertel" jdbcType="VARCHAR" />
    <result column="supplierTax" property="suppliertax" jdbcType="VARCHAR" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="userTel" property="usertel" jdbcType="VARCHAR" />
    <result column="userTex" property="usertex" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, supplierNo, supplierName, provinceCode, supplierAddress, supplierEmail, supplierTel, 
    supplierTax, userName, userTel, userTex, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from supplier
  </select>
   <select id="selectSupplierCountByWhere" resultType="java.lang.Long" parameterType="com.pojo.Supplier" >
    select 
    count(1)
    from supplier where 1=1 
    <if test="supplierno != null and supplierno != ''" >
		 and supplierNo like  CONCAT('%',#{supplierno},'%' )  
      </if>
      <if test="suppliername != null and suppliername != ''" >
         and supplierName like CONCAT('%',#{suppliername},'%' )  
      </if>
      <if test="provincecode != null and provincecode != ''" >
         and provinceCode like CONCAT('%',#{provincecode},'%' )  
       </if>
       <if test="username != null and username != ''" >
         and userName like CONCAT('%',#{username},'%' )  
       </if>
  </select>
  
  <select id="selectSupplierByWhere" resultMap="BaseResultMap" parameterType="com.pojo.Supplier" >
    select 
    <include refid="Base_Column_List" />
    from supplier where 1=1 
   	  <if test="supplierno != null and supplierno != ''" >
		 and supplierNo like  CONCAT('%',#{supplierno},'%' )  
      </if>
      <if test="suppliername != null and suppliername != ''" >
         and supplierName like CONCAT('%',#{suppliername},'%' )  
      </if>
      <if test="provincecode != null and provincecode != ''" >
         and provinceCode like CONCAT('%',#{provincecode},'%' )  
       </if>
        <if test="username != null and username != ''" >
         and userName like CONCAT('%',#{username},'%' )  
       </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from supplier
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Supplier" >
    insert into supplier (ID, supplierNo, supplierName, 
      provinceCode, supplierAddress, supplierEmail, 
      supplierTel, supplierTax, userName, 
      userTel, userTex, remark
      )
    values (#{id,jdbcType=INTEGER}, #{supplierno,jdbcType=VARCHAR}, #{suppliername,jdbcType=VARCHAR}, 
      #{provincecode,jdbcType=VARCHAR}, #{supplieraddress,jdbcType=VARCHAR}, #{supplieremail,jdbcType=VARCHAR}, 
      #{suppliertel,jdbcType=VARCHAR}, #{suppliertax,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{usertel,jdbcType=VARCHAR}, #{usertex,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Supplier" >
    insert into supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="supplierno != null" >
        supplierNo,
      </if>
      <if test="suppliername != null" >
        supplierName,
      </if>
      <if test="provincecode != null" >
        provinceCode,
      </if>
      <if test="supplieraddress != null" >
        supplierAddress,
      </if>
      <if test="supplieremail != null" >
        supplierEmail,
      </if>
      <if test="suppliertel != null" >
        supplierTel,
      </if>
      <if test="suppliertax != null" >
        supplierTax,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="usertel != null" >
        userTel,
      </if>
      <if test="usertex != null" >
        userTex,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="supplierno != null" >
        #{supplierno,jdbcType=VARCHAR},
      </if>
      <if test="suppliername != null" >
        #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="provincecode != null" >
        #{provincecode,jdbcType=VARCHAR},
      </if>
      <if test="supplieraddress != null" >
        #{supplieraddress,jdbcType=VARCHAR},
      </if>
      <if test="supplieremail != null" >
        #{supplieremail,jdbcType=VARCHAR},
      </if>
      <if test="suppliertel != null" >
        #{suppliertel,jdbcType=VARCHAR},
      </if>
      <if test="suppliertax != null" >
        #{suppliertax,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="usertel != null" >
        #{usertel,jdbcType=VARCHAR},
      </if>
      <if test="usertex != null" >
        #{usertex,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Supplier" >
    update supplier
    <set >
      <if test="supplierno != null" >
        supplierNo = #{supplierno,jdbcType=VARCHAR},
      </if>
      <if test="suppliername != null" >
        supplierName = #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="provincecode != null" >
        provinceCode = #{provincecode,jdbcType=VARCHAR},
      </if>
      <if test="supplieraddress != null" >
        supplierAddress = #{supplieraddress,jdbcType=VARCHAR},
      </if>
      <if test="supplieremail != null" >
        supplierEmail = #{supplieremail,jdbcType=VARCHAR},
      </if>
      <if test="suppliertel != null" >
        supplierTel = #{suppliertel,jdbcType=VARCHAR},
      </if>
      <if test="suppliertax != null" >
        supplierTax = #{suppliertax,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usertel != null" >
        userTel = #{usertel,jdbcType=VARCHAR},
      </if>
      <if test="usertex != null" >
        userTex = #{usertex,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Supplier" >
    update supplier
    set supplierNo = #{supplierno,jdbcType=VARCHAR},
      supplierName = #{suppliername,jdbcType=VARCHAR},
      provinceCode = #{provincecode,jdbcType=VARCHAR},
      supplierAddress = #{supplieraddress,jdbcType=VARCHAR},
      supplierEmail = #{supplieremail,jdbcType=VARCHAR},
      supplierTel = #{suppliertel,jdbcType=VARCHAR},
      supplierTax = #{suppliertax,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      userTel = #{usertel,jdbcType=VARCHAR},
      userTex = #{usertex,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>